<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id="userService" class="org.bhagat.hritu.service.UserServiceBeanImpl" scope="prototype">
	<property name="userDao" ref="daoObj"></property>
</bean>

<bean id="daoObj" class="org.bhagat.hritu.dao.UserDaoJDBCImpl">
</bean>
</beans>